body {
  background-color: pink;
}
.form,
.greetings {
  display: none;
}
.showing {
  display: block;
}
.btn {
  cursor: pointer;
}
.bgImage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.clock {
  color: white;
  display: flex;
  justify-content: center;
  margin: 100px 0;
  flex-direction: column;
  align-items: center;
}
.js-date {
  font-size: 40px;
}
.js-title {
  font-size: 130px;
  font-weight: 700;
  margin: 0px;
}
.hello-form {
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-weight: 500;
  color: white;
}
.weather {
  color: white;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: 500;
}
.todo-things {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 300;
  margin-top: 20px;
}
.todo-things li {
  font-size: 25px;
}
input {
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  border-bottom: 2px solid rgb(77, 77, 77);
  height: 50px;
  width: 400px;
  outline: none;
  border-radius: 10px;
  padding: 10px 0px 0px 10px;
  font-size: 30px;
}
input::placeholder {
  color: rgb(255, 255, 255);
  font-size: 30px;
}
.days {
  color: white;
}
